/* RESETS */

  @import url(http://fonts.googleapis.com/css?family=Droid+Sans);
  @import url(http://fonts.googleapis.com/css?family=Quicksand);

  *,
  *:after,
  *:before
  {
    border: none;
    font-style: normal;
    font-weight: normal;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body
  {
    background: #eee;
    color: #333;
    font: 1em "Droid Sans",sans-serif;
  }

  section
  {
    padding: 60px 30px;
    text-align: center;
  }

  section h1
  {
    color: #36f;
    font-size: 3.5em;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: #03c 1px 1px 0;
  }

  section h2
  {
    font-size: 3.5em;
    text-shadow: #fff 1px 1px 0;
  }

  h1
  {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
  }

  a
  {
    color: #36f;
    text-decoration: none;
  }

  p
  {
    line-height: 150%;
  }

  img
  {
    max-width: 100%;
  }

  .p-balao
  {
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px;
    display: inline-block;
    color: #000;
    position: relative;
    text-align: left;
    vertical-align: top;
  }

  .p-balao:before
  {
    bottom: 25%;
    border-top: 15px solid transparent;
    border-right: 15px solid rgba(255,255,255,0.7);
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    content: "";
    left: -30px;
    position: absolute;
  }

/* HEADER */

  #header
  {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;

    background: -webkit-linear-gradient(top, #eee, #fff, #eee); 
    background: -o-linear-gradient     (top, #eee, #fff, #eee); 
    background: -moz-linear-gradient   (top, #eee, #fff, #eee); 
    background: linear-gradient     (to top, #eee, #fff, #eee); 
  }

  #header h1
  {
    color: #666;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    padding: 2%;
  }

/* MENU */

  #menu
  {
    display: inline-block;
  }

  #menu ul li
  {
    display: inline-block;
    margin-right: 15px;
  }

/* SEC QUEM SOU */

  #sec-quemsou
  {
    background-image: url(hdr-bg.jpg);
    background-size: 100%;
    background-position: 50% 0;
    background-attachment: fixed;
    box-shadow: inset #000 0 0 30px;
    padding: 90px 30px 60px 30px;
    text-align: center;

  }

  #sec-quemsou img
  {
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: #000 0 0 15px;
    display: inline-block;
    height: auto;
    margin-right: 30px;
    max-width: 500px;
    width: 25%;
  }

  #sec-quemsou .p-balao
  {
    max-width: 50%;
    padding: 30px 30px 15px 30px;
  }

/* SEC O QUE EU FAÇO */

  #img-oquefaco
  {
    background-image: url(sec-oqueeufaco-site02.png);
    background-position: 100% 0;
    background-attachment: fixed;
  }

  #sec-oquefaco p
  {
    color: #666;
    display: inline-block;
    max-width: 60%;
  }

  #sec-oquefaco img
  {
    display: block;
    margin: 60px auto 30px auto;
  }

/* SEC PORTIFÓLIO */

  #sec-portifolio
  {
    background-image: url(sec-contato-bg.jpg);
    background-position: 50% 0;
    background-attachment: fixed;
    box-shadow: inset #000 0 0 30px;
  }

  #sec-portifolio p
  {
  }

  #sec-portifolio h2
  {
  }

/* SEC CONTATO */

  #sec-contato
  {
    background-color: #36f;
    text-align: center;

    background: -moz-radial-gradient(center, ellipse cover,  #3366ff 0%, #0033cc 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3366ff), color-stop(100%,#0033cc));
    background: -webkit-radial-gradient(center, ellipse cover,  #3366ff 0%,#0033cc 100%);
    background: -o-radial-gradient(center, ellipse cover,  #3366ff 0%,#0033cc 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #3366ff 0%,#0033cc 100%);
    background: radial-gradient(ellipse at center,  #3366ff 0%,#0033cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3366ff', endColorstr='#0033cc',GradientType=1 );
  }

  #sec-contato h1
  {
    color: #fff;
    text-shadow: #03c 1px 1px 0;
  }

  #sec-contato-autor
  {
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: #000 0 0 15px;
    display: inline-block;
    height: auto;
    margin-right: 30px;
    max-width: 100px;
    width: 100px;
  }

  #sec-contato .p-balao
  {
    font-size: 0.9em;
    padding: 15px;
    width: 40%;
  }

  #sec-contato form
  {
    background-color: #eee;
    border-radius: 15px;
    box-shadow: #333 0 0 15px;
    margin: 30px auto;
    padding: 30px;
    position: relative;
    width: 50%;
  }

  #sec-contato form input[type="text"],
  #sec-contato form input[type="email"],
  #sec-contato form textarea
  {
    background: #ddd;
    border: 1px solid #ccc; 
    display: block;
    margin: 15px 0;
    padding: 15px;
    width: 100%;
  }

  #sec-contato form input[type="text"]:focus,
  #sec-contato form input[type="email"]:focus,
  #sec-contato form textarea:focus
  {
    background: #fff;
  }

  #sec-contato form input[type="text"]
  {
    margin-top: 0;
  }

  #sec-contato form textarea
  {
    font-family: "Droid Sans", sans-serif;
    height: 200px;
    margin-bottom: 0;
    max-height: 200px;
    max-width: 100%;
  }

  #sec-contato form input[type="submit"]
  {
    background-color: #36f;
    border-top: 14px solid #eee;
    border-left: 14px solid #eee;
    box-shadow: inset #03c -1px -1px 1px, inset #69f 1px 1px 1px, #ccc -1px -1px 0;
    bottom: 30px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    position: absolute;
    right: 30px;
  }

  #sec-contato form input[type="submit"]:hover
  {
    background-color: #03c;
    box-shadow: inset #03c -1px -1px 1px, inset #039 1px 1px 1px;
  }

/* FOOTER */

  #footer
  {
    background-color: #333;
    background-image: url(footer-bg.jpg);
    box-shadow: #000 15px 0 15px, inset #000 0 0 30px;
    padding: 60px 30px;
    width: 100%;
  }